<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/buses/agregar" method="post">

  <body>
    <div id="container">

      <h2>Detalle Familiar</h2>

        <label id="telefono" for="placa">Telefono</label> <br>
        <input type="number" id="telefono" name="telefono" required>

        <label id="name" for="nombre">Nombre de la empresa encargada</label>
        <input type="text" id="nombre" name="nombres_cooperativa_bus" required>

        <label id="capacidad" for="capacidad">Capacidad Maxima</label>
        <input type="number" id="capacidadmaxima" name="capacidad_bus" required>
        <br> <br><br>
        <br> <br>

        <label id="conductor" for="conductor">Conductor encargado</label>
        <input type="text" id="conductorencargado" name="conductor_encargado_bus" required>
       <br>

      <label id="copiloto" for="copiloto">Copiloto Asignado</label>
      <input type="text" id="copilotoasignado" name="nombre_copiloto_bus" required>

      <label id="partida" for="partida">Partida</label> <br>
      <input type="text" id="partidaa" name="partida_ruta" required>

      <label id="destino" for="destino">Destino</label> <br>
      <input type="text" id="destinoo" name="destina_ruta" required>
      <br><br> <br>
      <br> <br> <br><br>

      <div class="registrarse">
        <button (click)="crearRegistro()">Registrar</button>
      </div>
      <div class="cancelar">
        <button (click)="volverRegistro()">Cancelar</button>
      </div>
    </div>
  </body>
</form>