{{!-- Funcional --}}
<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/mensaje_personalizado/agregar" method="post">

  <body>
    <div id="container">

      <h2>Mensaje Personalizado</h2>

      <label id="mensajes" for="mensaje">Mensaje</label> <br>
      <input type="text" id="mensaje" name="mensaje" required>

      <label id="descripciones" for="descripcion">Descripción</label> <br>
      <input type="text" id="descripcion" name="descripcion" required>

      <label id="fecha_mensajes" for="fecha_mensaje">Fecha mensaje</label> <br>
      <input type="date" id="fecha_mensaje" name="fecha_mensaje" required>

      <br> <br><br>
      <br> <br>
      <div class="registrarse">
        <button type="submit" id="">Registrar</button>
      </div>
      <div class="cancelar">
        <button type="submit" id="">Guardar</button>
      </div>
    </div>
  </body>
</form>