<link rel="stylesheet" href="/css/usuarioagregar.css">
<form action="/usuario_/agregar" method="post">
<body>
    <img src="/img/sos.png" class="imagen1">
    <img src="/img/iconsos.jpg" class="imagen2">
    <form>
    <div class="content">
    <div class="form-container">
        <div class="mb-3">

        <label id="nombre" for="placa">Nombres</label> <br>
        <input type="text" class="form-control" id="nombres" name="nombres" required>

        <label id="apellido" for="placa">Apellidos</label> <br>
        <input type="text" class="form-control" id="apellidos" name="apellidos" required>

        <label id="correo" for="placa">Correo eléctronico:</label> <br>
        <input type="text" class="form-control" id="correos" name="correoelectronico" required>

        <label id="contrasena" for="placa">Contraseña:</label> <br>
        <input type="password" class="form-control" id="contrasenas" name="contrasena" required>

        <label id="fecha" for="placa">Fecha de registro:</label> <br>
        <input type="date" class="form-control" id="fechas" name="fecha_registro" required>

        <label id="nacimiento" for="placa">Fecha de nacimiento:</label> <br>
        <input type="date" class="form-control" id="nacimientos" name="fecha_nacimiento" required>

        <br> <br><br>
        <br> <br>
        
                <div id="boton">
            <!-- Utilizar un enlace con href en lugar de un select -->
            <label for="redireccion">Selecciona una opción:</label>
            <select class="Selector">
            <option value="resgistro">Registro Usuario</option>
            <option value="resgistro">Registro Mascota</option>
            <option value="resgistro">Registro Objeto</option>
        </select>
        </div>
        <a href="#" class="menu-item active"><img src="cuadrado.PNG" alt="Registro"> Registro Información</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-vert.png" alt="Datos"> Datos Guardados</a>
        <a href="#" class="menu-item"><img src="correo.PNG" alt="Familia"> Registro Familiares</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-vert.png" alt="Guardados"> Datos Guardados</a>
        <a href="#" class="menu-item"><img src="correo.PNG" alt="Notificación"> Mensaje de Notificación</a>
        <a href="#" class="menu-item"><img src="Captura.PNG" alt="Historial"> Historial</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-orange.png" alt="Ubicación"> Historial de Ubicación</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-orange.png" alt="Activaciones"> Historial de Activaciones</a>
        <br><br>
        <a href="#" class="underline-text">cerrar sesion <u></u></a>
    </nav>

    <div class="crud-container">
        <div class="crud-content">
            <h1>Registro Familiar</h1>
            <form>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido">

                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" placeholder="Ingrese su correo">

                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su teléfono">

                <button type="button" onclick="actualizarRegistro()">Actualizar</button>
            </form>
            
        </div>
    </div>
    <img src="descarga.png" class="imagen" >
  </body>
</form>