<link rel="stylesheet" href="/css/listarusuario.css">
<form action="/usuario/listar" method="post">
 
 <body>
     <body>
      <nav>
        <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
        <div class="user-info">
            <br><br>
            <h2>Camila</h2>
            <p>camila@example.com</p>
        </div>
       <a href="/usuario/agregar" class="menu-item active"><img src="/img/cuadrado.PNG" alt="Registro"> Registro Información</a>
        <a href="#" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
        <a href="/registro_familiar/agregar" class="menu-item"><img src="/img/icorreo.png" alt="Familia"> Registro Familiares</a>
        <a href="/registro_familiar/listar/" class="menu-item"><img src="/img/circulo.png"> Datos Guardados</a>
        <a href="/mensaje_personalizado/agregar/" class="menu-item"><img src="/img/icorreo.png" alt="Notificación"> Mensaje de Notificación</a>
         <a href="/mensaje_personalizado/listar/" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
        <a href="" class="menu-item"><img src="/img/4lineas.png" alt="Historial"> Historial</a>
        <a href="/historial_activacion/agregar/" class="menu-item"><img src="/img/circulo1.png" alt="Activaciones"> Historial de Activaciones</a>
        <br><br>
        <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
    </nav>
     
 </body>
 </form>