<link rel="stylesheet" href="/css/listarusuario.css">
<form action="/usuario/listar" method="post">
 
 <body>
     <body>
      <nav>
        <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
        <div class="user-info">
            <br><br>
            <h2>Camila</h2>
            <p>camila@example.com</p>
        </div>
        <a href="#" class="menu-item active"><img src="cuadrado.PNG" alt="Registro"> Registro Información</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-vert.png" alt="Datos"> Datos Guardados</a>
        <a href="#" class="menu-item"><img src="correo.PNG" alt="Familia"> Registro Familiares</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-vert.png"Guardados> Datos Guardados</a>
        <a href="#" class="menu-item"><img src="correo.PNG" alt="Notificación"> Mensaje de Notificación</a>
        <a href="#" class="menu-item"><img src="Captura.PNG" alt="Historial"> Historial</a>
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-orange.png" alt="Ubicación"> Historial de Ubicación</a> 
        <a href="#" class="menu-item"><img src="https://icones.pro/wp-content/uploads/2021/04/icone-cercle-orange.png" alt="Activaciones"> Historial de Activaciones</a>
         <br><br>
         <a href="#" class="underline-text">cerrar sesion <u></u></a>
   
    </nav>
     
 </body>
 </form>