
<link rel="stylesheet" href="/css/inicio.css">
<form action="/inicio"method="POST">
<body>
    <div class="shadow"></div >
    <h1 class="titulo">SOS-RESQ-</h1>
    <h2  class="nombre">Manuel </h2>
    <h3  class="correo">Manuel@email.com</h3>
    <img src="/img/2lineas.png" class="lineas">
    <h4 class="registro" >Registro de Informacion</h4> 
    <div class="agrupar">
        <div class="punto"></div>
        <h2 class="Datos">Datos Guardados</h2>
        <div class="famili">
          <a class="familiares" href="/registro_familiar/agregar" >Registro de Familiares<a>
        </div> 
        <div class="punto2"></div>
        <h2 class="Datos2">Datos Guardados</h2>   
        <img src="/img/icorreo.png" class="imgcorreo1">
        <img src="/img/icorreo.png" class="imgcorreo2">
      </div>
    <div class="lineahorizontal"></div> 
    <div class="lineahorizontal2"></div> 
    <div class="lineavertical"></div>
    <h3  class="mensaje">Mensaje de Notificación</h3>
    <img src="/img/4lineas.png" class="imglineas2">
    <h5 class="historial">Historial</h5>
    <div class="punto3"></div>
    <div class="punto4"></div>
    <h6  class="ubi">Historial de ubicación</h6>
    <h6  class="acti">Historial de activaciones </h6>
    <h6 class="sesion">Cerrar Sesión</h6>
    <img src="/img/configuracion.png" class="config">
    <img src="/img/imagensos.png" class="imgsos">
    <h7 class="loca">Localizacion en cualquier lugar</h7>
    <h8 class="cuando">Cuando pulses en el enlace de tu mensaje,te avisará de su ubicación.</h8>
    <img src="/img/mapa.png" class="mapa">
    <h8 class="dis">Todos los dispositivos</h8>
    <h9  class="visua">Visualizacion de tu Historial de Hubicacion</h9>
    <img src="/img/cpu.png" class="cpu">
    <img src="/img/mapita.png" class="mapita">

</body>
</form>