<link rel="stylesheet" href="/css/registro.css">
<form action="/login" method="post">

    <body>
        <img src="/img/sos.png" class="imagen1">
        <img src="/img/iconsos.jpg" class="imagen2">
        <form>
            <div class="content">
                <div class="form-container">
                    <div class="mb-3">
                        <label for="inputName">Nombres</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="inputLast">Apellidos</label>
                        <input type="text" class="form-control" id="inputLast" placeholder="Apellido">
                    </div>
                    <div class="mb-3">
                        <label for="inputDate">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="inputDate" placeholder="Fecha de nacimiento">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail">Correo electrónico</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Correo">
                    </div>
                    <div class="mb-3">
                        <label for="inputcontraseña">Contraseña</label>
                        <input type="password" class="form-control" id="inputcontraseña" placeholder="Contraseña">
                    </div>
                    <div class="mb-3">
                        <label for="inputPhone">Contacto de Emergencia</label>
                        <input type="number" class="form-control" id="inputPhone" placeholder="Contacto de Emergencia">
                    </div>
                    <div class="mb-3">
                        <label for="inputDirection">Dirección</label>
                        <input type="text" class="form-control" id="inputDirection" placeholder="Dirección">
                    </div>
                </div>
            </div>
            <br><br>
            <h3>Favor de completar el registro para asignar el destinatario del botón de pánico</h3>

<div class="btn-container">
    <a href="#" class="btn btn-mascota">Registro Mascota</a>
    <a href="#" class="btn btn-objeto">Registro Objeto</a>
    <a href="#" class="btn btn-persona">Registro Persona</a>
</div>
        </div>
        </div>
    </body>
</form>