body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}


#sidebar {
  width: 250px;
  background-color: #f8f9fa;
  color: black;
  transition: all 0.3s;
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
}

#sidebar a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 13px;
}

#sidebar a:hover {
  background-color: #6ddef1;
}


main {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 0;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
#menu-toggle:checked ~ #sidebar {
  left: 0;
}

#menu-toggle:checked ~ main {
  margin-left: 250px;
}


#sidebar.active {
  left: 0;
}

main.menu-open {
  margin-left: 250px;
}

.contenedor {
  margin: 20px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

.textos {
  color: #109cf1;
  font-size: 24px;
  border-bottom: 1px solid purple; 
  padding-bottom: 2px; 
 border-bottom-width: 2.5px; 

 margin-left: 70px;
}

.subir {
  padding: 100px;
  margin-left: 100px;
}
@media (max-width: 768px) {}


.user-info h3{
padding: 20px;
margin-left: 100px;
}

h4{
  margin-top: -30px;
  margin-left: 40px;
  color: gray;
}

.underline-text{
  text-align: center;
  border-bottom: 1px solid black; 
  padding-bottom: 2px; 
 border-bottom-width: 2.5px; 
}

.menu-item img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-bottom: -10px;
}

.subida{
  margin-top: -10px;
}

h1.textos {
  margin: 10px;
  position: absolute;
}

h2, p {
  margin-right: 10px;

}

.loca { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	height:1 4px;
  position:absolute;
  left:550px;
	top:60px;
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:30px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.cuando { 
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 50px;
  position:absolute;
  left:800px;
	top:200px;
  font-family: Inika;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  display: inline-block;
}

.mapa  {
  width:300px; 
  height:200px;
  position: absolute;
  left: 400px;  
  top: 150px; 
} 
.dis { 
	color:rgba(120.0624842941761, 30.515881329774857, 100.36223620176315, 1);
	width:200px;
	height:48px;
  position:absolute;
  left:400px;
	top:380px; 
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.visua { 
	color:rgba(120.00000044703484, 31.000000052154064, 100.00000163912773, 1);
	width:580px;
	height:48px;
  position:absolute;
  left:800px;
	top:380px; 
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}

.cpu  {
  width:130px; 
  height:120px;
  position: absolute;
  left: 430px;
  top: 410px; 
}
.mapita  {
  width:150px; 
  height:100px;
  position: absolute;
  left: 930px;
  top: 410px; 
}  

@media (max-width: 768px) {
  body {
    flex-direction: column;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
  }

  nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .menu-item {
    width: 100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu-item img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .menu-item.active {
    background-color: #f8f9fa;
  }

  .user-info,
  .loca,
  .cuando,
  .mapa,
  .dis,
  .visua,
  .cpu,
  .mapita {
    position: relative;
    left: 0;
    top: 0;
  }
}