.titulo { 
	color:#109cf1;
	width:1000px;
	height: 24px;
	font-family:Open Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0; 
}
.nombre { 
	color:rgba(25.000000409781933, 42.000001296401024, 62.00000010430813, 1);
	width:146px;
	height:21px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.correo { 
	color:#90a0b7;
	width:199px;
	height:14px;
	position:absolute;
	left:8px;
	top:90px;  
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
}
.lineas {
    width: 20px ; 
    height: 10 px; 
    position: relative;
    top: 40px; 
}   
.registro { 
    color: #109cf1;
    width: 174px;
    height: 20px;
    font-family: Poppins;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1;
    position: absolute;
    left: 30px; 
    top: 13 0px; 
}
.shadow {
    box-shadow: 6px 0px 18px rgba(5, 5, 5, 0.06);
    background-color: rgba(255, 255, 255, 1);
    width: 400  px;
    height: 982px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.lineahorizontal {
    background-color: rgba(235, 239, 242, 1);
    width: 256px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 450px;
    z-index: -1; 
}
.lineahorizontal2 {
  background-color: rgba(235, 239, 242, 1);
  width: 256px;
  height: 1px;
  position: absolute;
  left: 0;
  top:10px;
  z-index: -1; 
}

.lineavertical {
  background-color: rgba(235, 239, 242, 1);
  width: 1px; 
  height:600px; 
  position: absolute;
  left: 257px; 
  top: 10px;
  z-index: -1;
}


.agrupar     {
    overflow: hidden;
    width: 176px;
    height:1000px;
    position: absolute;
  }
  
.punto {
  border-radius: 500px;
  width: 7px;
  height: 7px;
  position: absolute;
  left:28px;
  top: 45px;
  border: 2px solid rgba(46, 212, 122, 1);
}
  
.Datos {
  width: 160px; 
  height: 20px;
  position: absolute;
  left: 50px;
  top: 32px;
  color: rgba(51, 77, 110, 1);
  font-family: Poppins;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1;
}  
     
.famili {
  width: 174px;
  height: 20px;
  position: absolute;
}

.familiares {
	color:rgba(51.00000075995922, 77.00000301003456, 110.00000104308128, 1);
	width:189px;
	height:20px;
	position:absolute;
	left:35px;
	top: 63px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
  text-decoration: underline; 
}

.punto2 {
  border-radius:500px;
  width:7px;
  height:7px;
  position: absolute;
  left:28px;
  top: 110px;
  border: 2px solid rgba(46, 212, 122, 1);
}
  
.Datos2 {
  width:200px; 
  height: 160px;
  position: absolute;
  left: 50px;
  top: 96px;
  color: rgba(51, 77, 110, 1);
  font-family: Poppins;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1;
}

.imgcorreo1{
  width:30px; 
  height:20px;
  position: absolute;
  left: 5px;
  top: 80px; 
}
.imgcorreo2{
  width:30px; 
  height:20px;
  position: absolute;
  left: 5px;
  top: 140px; 
}
.mensaje { 
	color:rgba(51.00000075995922, 77.00000301003456, 110.00000104308128, 1);
	width:250px;
	height:40px; 
	position:absolute;
	left:42px;
	top:250px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
  text-decoration: underline;
}
.imglineas2{
  width:25px; 
  height:25px;
  position: absolute;
  left: 15px;
  top: 300px; 
} 
.historial {
  color: rgba(51, 77, 110, 1);
  width: 188px;
  height: 20px;
  margin-left: 40px; 
  margin-top: 189px; 
  text-align: left;
  font-size: 13px;
  letter-spacing: 1;
}
.punto3 {
  border-radius:500px;
  width:8px;
  height:8px;
  position: absolute;
  margin-left: 40px; 
  margin-top: -18px; 
  border: 2px solid #FFB946;
}
.punto4 {
  border-radius:500px;
  width:8px;
  height:8px;
  position: absolute;
  margin-left: 40px; 
  margin-top: 12px; 
  border: 2px solid #FFB946;
}

.ubi { 
	color:rgba(51.00000075995922, 77.00000301003456, 110.00000104308128, 1);
	width:188px;
	height:20px;
	position:absolute;
	left:70px;
	top:300px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
  text-decoration: underline;
}
.acti { 
	color:rgba(51.00000075995922, 77.00000301003456, 110.00000104308128, 1);
	width:188px;
	height:20px;
	position:absolute;
	left:70px;
	top:330px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
  text-decoration: underline;
}
.sesion { 
	color:rgba(51.00000075995922, 77.00000301003456, 110.00000104308128, 1);
	width:188px;
	height:20px;
  position:absolute;
  left:10px;
	top:400px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
}
.config {
    width:16px; 
    height:8px;
    position: absolute;
    left: 5px;
    top: 480px; 
  } 
.imgsos {
  width:70px; 
  height:7  0px;
  position: absolute;
  left: 1260px;
  top: 10px; 
}  
.loca { 
	color:rgba(0, 0, 0, 1);
	width:583px;
	height:24px;
  position:absolute;
  left:550px;
	top:60px;
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:30px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.cuando { 
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 50px;
  position:absolute;
  left:800px;
	top:200px;
  font-family: Inika;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  display: inline-block;
}

.mapa  {
  width:300px; 
  height:200px;
  position: absolute;
  left: 400px;
  top: 150px; 
} 
.dis { 
	color:rgba(120.0624842941761, 30.515881329774857, 100.36223620176315, 1);
	width:294px;
	height:48px;
  position:absolute;
  left:400px;
	top:380px; 
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.visua { 
	color:rgba(120.00000044703484, 31.000000052154064, 100.00000163912773, 1);
	width:580px;
	height:48px;
  position:absolute;
  left:800px;
	top:380px; 
	font-family:Inknut Antiqua;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}

.cpu  {
  width:130px; 
  height:120px;
  position: absolute;
  left: 430px;
  top: 410px; 
}
.mapita  {
  width:150px; 
  height:100px;
  position: absolute;
  left: 930px;
  top: 410px; 
}  