body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

#sidebar {
    width: 250px;
    background-color: #f8f9fa;
    color: black;
    transition: all 0.3s;
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
}

#sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 13px;
}

#sidebar a:hover {
    background-color: #6ddef1;
}


main {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s;
    margin-left: 0;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 9px;
    background-color: black;
    color: #fff;
    border-radius: 0 5px 5px 0;
    margin-right: 96%;
    
}

#menu-toggle:checked~#sidebar {
    left: 0;
}

#menu-toggle:checked~main {
    margin-left: 250px;
}


#sidebar.active {
    left: 0;
}

main.menu-open {
    margin-left: 250px;
}

.contenedor {
    margin: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.textos {
    color: #109cf1;
    font-size: 24px;
    border-bottom: 1px solid purple;
    padding-bottom: 2px;
    border-bottom-width: 2.5px;

    margin-left: 70px;
}

.subir {
    padding: 100px;
    margin-left: 100px;
}

@media (max-width: 768px) {}


.user-info h3 {
    padding: 20px;
    margin-left: 100px;
}

h4 {
    margin-top: -30px;
    margin-left: 40px;
    color: gray;
}

.underline-text {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    border-bottom-width: 2.5px;
}

.menu-item img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.menu-item {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    margin-bottom: -10px;
}

.subida {
    margin-top: -10px;
}

h1.textos {
    margin: 10px;
    position: absolute;
}

h2,
p {
    margin-right: 10px;

}



.contenedor {
    margin: 20px;
}

table {
    width: 850px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 350px;
   
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 160px;
}

.subir{
    padding: 100px;
    margin-left: 100px;
}

.contenedor-botones {
    display: flex;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

button {
    width: 70px;
    padding: 10px;
    background-color: #109CF1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
    height: 30px;
    margin-top: -15px;
}

button:hover {
    background-color: #0a88d8; /* Cambié el color de fondo al pasar el ratón */
}

.cancelar {
    /* Puedes ajustar el margen izquierdo según tus necesidades */
    margin-left: 10px;
}

.registrarse {
    /* Puedes ajustar el margen derecho según tus necesidades */
    margin-right: 10px;
}