body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

nav {
    background-color: #f8f9fa;
    padding: 20px;
    width: 200px;
    height: 100%px;
    text-align: center;
    
  }

.menu-item {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
.menu-item img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
  
.menu-item:hover {
    color: #109cf1;
  }

.menu-item.active {
    background-color: white;
}

.underline-text {
    color: #333;
    text-decoration: underline;
}
.textos {
    color: #109cf1;
    font-size: 24px;
}
h1.textos {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px; /* Puedes ajustar el margen según tus preferencias */
}

.user-info {
    margin-bottom: 20px;
}

.user-info h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.user-info p {
    margin: 0;
    font-size: 14px;
    color: #777;
}


.contenedor {
    margin: 20px;
}

table {
    width: 850px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 90px;
   
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.subir{
    padding: 100px;
    margin-left: 100px;
}

.contenedor-botones {
    display: flex;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

button {
    width: 70px;
    padding: 10px;
    background-color: #109CF1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
    height: 30px;
    margin-top: -15px;
}

button:hover {
    background-color: #0a88d8; /* Cambié el color de fondo al pasar el ratón */
}

.cancelar {
    /* Puedes ajustar el margen izquierdo según tus necesidades */
    margin-left: 10px;
}

.registrarse {
    /* Puedes ajustar el margen derecho según tus necesidades */
    margin-right: 10px;
}