body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  #container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -40px;
    max-height: 650px;
    margin-right: 360px;

  }

  h2 {
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-top: 10px;
    color: #555;
    
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
    
  }

 .ancho, input{
    height: 100xpx;
 } 

  button {
    width:100px;
    padding: 10px;
    background-color: #109CF1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50%;
    margin-top: -150px;
  }

  button:hover {
    background-color: #109CF1;
  }

.cancelar{
    padding: 15px;
    margin-right: 210px;
    margin-top: -41px;
}
#sidebar {
  width: 250px;
  background-color: #f8f9fa;
  color: black;
  transition: all 0.3s;
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
}

#sidebar a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 13px;
}

#sidebar a:hover {
  background-color: #6ddef1;
}


main {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 0;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  padding: 9px;
  background-color: black;
  color: #fff;
  border-radius: 0 5px 5px 0;
  margin-right: 96%;
  margin-top: -2px;
}

#menu-toggle:checked~#sidebar {
  left: 0;
}

#menu-toggle:checked~main {
  margin-left: 250px;
}


#sidebar.active {
  left: 0;
}

main.menu-open {
  margin-left: 250px;
}

.contenedor {
  margin: 20px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

.textos {
  color: #109cf1;
  font-size: 24px;
  border-bottom: 1px solid purple;
  padding-bottom: 2px;
  border-bottom-width: 2.5px;

  margin-left: 70px;
}

.subir {
  padding: 100px;
  margin-left: 100px;
}

@media (max-width: 768px) {}


.user-info h3 {
  padding: 20px;
  margin-left: 100px;
}

h4 {
  margin-top: -30px;
  margin-left: 40px;
  color: gray;
}

.underline-text {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  border-bottom-width: 2.5px;
}

.menu-item img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-bottom: -10px;
}

.subida {
  margin-top: -10px;
}

h1.textos {
  margin: 10px;
  position: absolute;
}

h2,
p {
  margin-right: 10px;

}