<link rel="stylesheet" href="/css/buses/listar.css">
<form action="detalle_mensaje_personalizado/listar/"method="get"></form>

<h1>Detalle Mensaje Personalizado </h1>
<div id="contenedor">
    
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <u><h2>Historial del mensaje</h2></u>
            <div>
                <p>{{hora_mensaje}}</p>
            <div>
                <div>
                    <a href="/detalle_mensaje_personalizados/editar/{{id_detalle_mensaje_personalizado}}"><button type="button">Editar</button></a>
                </div></p>
                <div>
                    <a href="/detalle_mensaje_personalizados/eliminar/{{id_detalle_mensaje_personalizado}}"><button type="button" style="background-color: red;">Eliminar</button></a>
                </div></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
