<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/registro_familiares/agregar" method="post">

    <body>
        <div id="container">

            <h2>Registro Familiar</h2>

            <label id="nombre" for="placa">Nombres</label> <br>
            <input type="text" id="nombres" name="nombres" required>

            <label id="apellido" for="placa">Apellidos</label> <br>
            <input type="text" id="apellidos" name="apellidos" required>

            <label id="telefono" for="placa">Telefono</label> <br>
            <input type="text" id="telefono" name="telefono" required>

            <br> <br><br>
            <br> <br>
            <div class="registrarse">
                <button (click)="crearRegistro()">Registrar</button>
            </div>
            <div class="cancelar">
                <button (click)="volverRegistro()">Cancelar</button>
            </div>
        </div>
    </body>
</form>