<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/objeto/agregar" method="post">

    <body>
        <div id="container">

            <h2>Detalle Familiar</h2>

            <label id="marcas" for="marca">Marca</label> <br>
            <input type="text" id="marca" name="marca" required>

            <label id="modelo" for="modelo">Modelo</label> <br>
            <input type="text" id="modelo" name="modelo" required>


            <label id="numero_series" for="numero_serie">Numero de Serie</label> <br>
            <input type="text" id="numero_serie" name="numero_serie" required>

            <label id="numero_contacto" for="numero_contacto">Numero de Contacto</label> <br>
            <input type="text" id="numero_contacto" name="numero_contacto" required>

            <label id="correo_electronico" for="correo_objeto">Correo Electronico</label> <br>
            <input type="text" id="correo_electronico" name="correo_objeto" required>

            <br> <br><br>
            <br> <br>
            <div id="boton">
            <button type="submit" id="">Guardar</button>
            
            </div>
        </div>
    </body>
</form>