<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/personas/agregar" method="post">

    <body>
        <div id="container">

            <h2>Personas</h2>

            <label id="nombre" for="placa">Nombres</label> <br>
            <input type="text" id="nombres" name="nombres" required>

            <label id="apellido" for="placa">Apellidos</label> <br>
            <input type="text" id="apellidos" name="apellidos" required>

            <label id="fecha_nacimientos" for="placa">Fecha Nacimiento</label> <br>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>

            <label id="sexs" for="placa">Sexo</label> <br>
            <input type="text" id="sex" name="sex" required>

            <label id="direcciones" for="placa">Direccion</label> <br>
            <input type="text" id="direccion" name="direccion" required>

            <label id="correo_electronicos" for="placa">Correo Electronico</label> <br>
            <input type="text" id="correo_electronico" name="correo_electronico" required>

            <br> <br><br>
            <br> <br>
            <div class="registrarse">
                <button (click)="crearRegistro()">Registrar</button>
            </div>
            <div class="cancelar">
                <button (click)="volverRegistro()">Cancelar</button>
            </div>
        </div>
    </body>
</form>