<link rel="stylesheet" href="/css/buses/agregar.css">
<form action="/detalle_usuario/agregar" method="post">

    <body>
        <div id="container">

            <h2>Usuarios</h2>

            <label id="contacts" for="contacto">Contactos de emergencia:</label> <br>
            <input type="number" id="contacto" name="contactos_emergencia" required>

            <label id="status" for="estado">Estado:</label> <br>
            <input type="text" id="estado" name="estado" required>



            <div class="registrarse">
                <button (click)="crearRegistro()">Registrar</button>
            </div>
            <div class="cancelar">
                <button (click)="volverRegistro()">Cancelar</button>
            </div>
        </div>
    </body>
</form>