{{!-- Solo son datos quemaos  --}}
<link rel="stylesheet" href="/css/historialactivacion.css">
<form action="/historial_activacion/agregar" method="post">

  <body>
    <nav>
      <h1 class="textos">SOS RESQ</h1>
      <div class="user-info">
        <h2>Camila</h2>
        <p>camila@example.com</p>
      </div>
<<<<<<< Updated upstream
      <a href="#" class="menu-item active"><img src="/img/cuadrado.png" alt="Registro"> Registro Información</a>
      <a href="#" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
      <a href="#" class="menu-item"><img src="/img/icorreo.png" alt="Familia"> Registro Familiares</a>
      <a href="#" class="menu-item"><img src="/img/circulo.png" Guardados> Datos Guardados</a>
      <a href="#" class="menu-item"><img src="/img/icorreo.png" alt="Notificación"> Mensaje de Notificación</a>
      <a href="#" class="menu-item"><img src="/img/4lineas.png" alt="Historial"> Historial</a>
      <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Ubicación"> Historial de Ubicación</a>
      <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Activaciones"> Historial de Activaciones</a>
=======
      <a href="/usuario/agregar" class="menu-item active"><img src="/img/cuadrado.png" alt="Registro"> Registro Información</a>
      <a href="#" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
      <a href="/registro_familiar/agregar" class="menu-item"><img src="/img/icorreo.png" alt="Familia"> Registro Familiares</a>
      <a href="#" class="menu-item"><img src="/img/circulo.png" Guardados> Datos Guardados</a>
      <a href="/mensaje_personalizado/agregar" class="menu-item"><img src="/img/icorreo.png" alt="Notificación"> Mensaje de Notificación</a>
      <a href="#" class="menu-item"><img src="/img/4lineas.png" alt="Historial"> Historial</a>
      <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Ubicación"> Historial de Ubicación</a>
      <a href="/historial_activacion/agregar" class="menu-item"><img src="/img/circulo1.png" alt="Activaciones"> Historial de Activaciones</a>
>>>>>>> Stashed changes
      <br><br>
      <a href="#" class="underline-text">cerrar sesion <u></u></a>
    </nav>

     <h8  class="da">Historial de activaciones </h8>
   <h7  class="todos">Todos (3)</h7>
   <h6 class="ayer">Ayer </h6>
   <h6 class="mes">El mes pasado </h6>
   <h8 class="nom">ID</span></div>
    <h8 class="ape">Nombre</span></div>
    <h8 class="ge">Dispositivo</span></div>
    <h8 class="fe">Fecha </h8>
    <h8 class="nu">Hora </h8>
    <h8 class="di">Ubicación</h8> 
    <h8 class="co">Contactos notificados</h8> 
    <div class="contenedor">
      <div class="contenido">
          <div class="seccion">
              <span class="titulo2">1</span>
              <span class="titulo3">2</span>
              <span class="titulo4">3</span>   
          </div>
          <div class="seccion">
              <span class="etiqueta">Corona</span>
              <span class="etiqueta1">Corona</span>
              <span class="etiqueta2">Corona</span>
              <div class="subseccion">
                  <span class="subtitulo1">REDMI10A</span>
                  <span class="subtitulo6">REDMI10A</span>
                  <span class="subtitulo11">REDMI10A</span>
              </div>
              <div class="subseccion">
                  <span class="subtitulo2">01/12/2024</span>
                  <span class="subtitulo7">01/12/2024</span>
                  <span class="subtitulo12">01/12/2024</span>
              </div>
              <div class="subseccion">
                  <span class="subtitulo3">6:24 AM</span>
                  <span class="subtitulo8">6:24 AM</span>
                  <span class="subtitulo13">6:24 AM</span>
                  
              </div>
              <div class="subseccion">
                  <span class="subtitulo4">0123456789</span>
                  <span class="subtitulo9">0123456789</span>
                  <span class="subtitulo14">0123456789</span>
              </div>
              <div class="subseccion">
                  <span class="subtitulo5">RGC9+FG9, Av. de los Shyris, Quito 170102</span>
                  <span class="subtitulo10">RGC9+FG9, Av. de los Shyris, Quito 170102</span>
                  <span class="subtitulo15">RGC9+FG9, Av. de los Shyris, Quito 170102</span>

              </div>
          </div>
      </div>
  </div>



<form/>