<link rel="stylesheet" href="/css/login.css">
<form action="/login" method="post">
<body>
    <img src="/img/sos.png" class="imagen1">
    <img src="/img/iconsos.jpg" class="imagen2">
    <div class="formulario">
        <img src="/img/usuario.jpeg" class="img">
        <input  name="correoelectronico" type="text" required>
        <label>Usuario</label> 
    </div>
    <div class="contraseña">
        <img src="/img/cnd.jpeg" class="img">
        <input name="contrasena" type="password" required>
        <label class="LB">Contraseña</label>
    </div>
    <div class="">
        <input type="submit" value="Iniciar Sesión">
    </div>
    <br>
    <h2>¿Eres Nuevo Usuario?</h2>
    <a href="/registro"><h4>Registrarse</h4></a>

</body>

</form>