<link rel="stylesheet" href="/css/registro.css">
<form action="/registro" method="post">

    <body>
        <img src="/img/sos.png" class="imagen1">
        <img src="/img/iconsos.jpg" class="imagen2">
        <form>
            <div class="content">
                <div class="form-container">

                    <div class="mb-3">
                        <label for="inputName">Nombres</label>
                        <input type="text" class="form-control" name="nombres"   id="inputName" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="inputLast">Apellidos</label>
                        <input type="text" class="form-control" name="apellidos" id="inputLast" placeholder="Apellido">
                    </div>
                    <div class="mb-3">
                        <label for="inputDate">Electronico</label>
                        <input type="email" class="form-control" name="correoelectronico" id="inputDate" placeholder="Fecha de nacimiento">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail">Contrasena</label>
                        <input type="password" class="form-control" name="contrasena"  id="inputEmail" placeholder="Correo">
                    </div>
                    <div class="mb-3">
                        <label for="inputcontraseña">fecha registro</label>
                        <input type="date" class="form-control" name="fecha_registro" id="inputcontraseña" placeholder="Contraseña">
                    </div>
                    <div class="mb-3">
                        <label for="inputPhone">fecha nacimiento</label>
                        <input type="date" class="form-control" name="fecha_nacimiento" id="inputPhone" placeholder="Contacto de Emergencia">
                    </div>
                    <div class="mb-3">
                        <label for="inputDirection">Contactos emergencia</label>
                        <input type="text" class="form-control" name="contactos_emergencia" id="inputDirection" placeholder="Contacto de Emergencia">
                    </div>

                    <div >
                    <center><button type="submit">Guardar</button></center>
                    </div>
                </div>
            </div>
            <br><br>
            <h3>Favor de completar el registro para asignar el destinatario del botón de pánico</h3>


        </div>
        </div>
    </body>
</form>